body {
	font-family: 'Helvetica';
	position: absolute;
	background-color: rgb(255,252,243);
}
title {
	text-align: center;
	font-family: Arial;
	font-size: 30pt;
	font-weight: bold;
	margin: 20px 40px;
	border-radius: 10px;
}
.table1 {
	border: 1px solid black;
	margin: 0 10%;
	padding: 20px;
	background-color: rgb(255,252,212);
	border-radius: 3px;
}
.right {
	text-align: right;
}
.left {
	width: 70%;
}
.table2 {
	margin: 0 15%;
}
.left_table1 {
	padding: 0 0 0 5%;
}
.right_table1 {
	padding: 0 5% 0 0;
}